@model WebSignalR.Models.UserParam

@{
    ViewBag.Title = "Battle";
}

<p>Выберите противника:</p>

<div class="row">
    <div class="col-md-6">
        <select id="users" size="10">
            <option value="">пока никого нет</option>
        </select>
        <button id="selectUser">Выбрать</button>
    </div>

    <div id="user1">
        <text id="name1">@Model.Name</text>
        <text id="hp1">HP=@Model.HP</text>
        <text id="mp1">MP=@Model.MP</text>
    </div>

    <div id="user2" hidden="hidden">
        <text id="name2"></text>
        <text id="hp2">HP=</text>
        <text id="mp2">MP=</text>
    </div>

    <button id="btHit">Удар</button>
    <button id="btMagic">Магия</button>
</div>

<div class="row" id="invite2" hidden="hidden">
    Вас приглашает на бой <span id="inviteUser2Name">0</span>
    <button id="inviteButton">Принять бой</button>
    <button id="renoun2Button">Отменить</button>
</div>

<div class="row" id="invite1" hidden="hidden">
    Вы пригласили на бой <span id="inviteUser1Name">0</span>
    <button id="renoun1Button">Отменить</button>
</div>

@section scripts{
    <script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
    <script src="~/signalr/hubs"></script>

    <script>
        var selectUserId;
        var user1 = {};
        var user2 = {};        

    $(function () {
        var chat = $.connection.battleHub;

        loadClientMethods(chat);

        $.connection.hub.start().done(function() {
            loadEvents(chat);
        });
    });

    function loadClientMethods(chat) {
        chat.client.addHit = function (userParam1, userParam2) {
            $('#hp1').val(userParam1.HP);
            $('#hp2').val(userParam2.HP);
            $('#mp1').val(userParam1.MP);
            $('#mp2').val(userParam2.MP);
        };

        chat.client.onConnected = function (id, userName, allUsers) {
            for (i = 0; i < allUsers.length; i++) {
                AddUser(allUsers[i].Id, allUsers[i].Name);
            }
        }

        chat.client.onNewUserConnected = function (id, name) {
            AddUser(id, name);
        }

        chat.client.onUserDisconnected = function (id) {
            $('#' + id).remove();
        }

        chat.client.inviteUser = function (user) { alert('Invite ' + user.Name);
            $('#invite2').removeAttr('hidden');
            $('#inviteUser2Name').text(user.Name);
            user2 = user;
        }
    }

    function loadEvents(chat) {
        $('#btHit').click(function () {
            chat.server.addHit(@Model, user2, "Hit");
        });

        $('#btMagic').click(function () {
            chat.server.addHit(@Model, user2, "Magic");
        });

        $('#selectUser').click(function () {
            if(selectUserId == '') return;

            chat.server.inviteUser('@User.Identity.Name', selectUserId); alert($('#users :selected').text());
            $('#inviteUser1Name').text($('#users :selected').text());
            $('#invite1').removeAttr('hidden');
        });

        $('#inviteButton').click(function () {

        });

        $('#renounButton').click(function () {
            chat.server.renouncement
        });
    }

    @*Кодирование тегов*@
    function htmlEncode(value) {
        var encodedValue = $('<div />').text(value).html();
        return encodedValue;
    }

    function AddUser(id, name) {
        var users = $('#users').append('<option value=' + id + ' id="' + id + '">' + name + '</option>');
    }

    $("#users").change(function () {
        selectUserId = $(this).val();
    });

    </script>
}

